@model Asp.NetCore_CRUD_Template.Models.ModalHeader

    <div class="modal-header">
        <h4 id="header" class="modal-title">@Model.Heading</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>